<a href="https://colab.research.google.com/github/takgeun-Oh/mypluralize/blob/master/KNN_Regression_week5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!kaggle competitions download -c 2021-ml-p6

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [2]:
!ls

sample_data

In [3]:
!kaggle competitions download -c 2021-ml-p6

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [4]:
!ls

sample_data

In [5]:
!pip install kaggle
from google.colab import files
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"takgeunoh","key":"548dcf5f0ddc4c5f1be6063226ae2078"}'}

In [6]:
!mkdir ~p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle competitions list

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes        114           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        221           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        704           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       3780           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      30300            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       7913           False
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        651           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       2139           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      10866           False
jane-street-market-prediction                  2021-08-23 23:59:00  Featured          $100,000       4245           False
hungry-geese                                   2021-07-26 23:59:00  Playground          Prizes        480           False
coleridgeinitiative-show-us-the-data           2021-06-22 23:59:00  Featured           $90,000        436           False
bms-molecular-translation                      2021-06-02 23:59:00  Featured           $50,000        441           False
birdclef-2021                                  2021-05-31 23:59:00  Research            $5,000        149           False
iwildcam2021-fgvc8                             2021-05-26 23:59:00  Research         Knowledge         18           False
herbarium-2021-fgvc8                           2021-05-26 23:59:00  Research         Knowledge         37           False
plant-pathology-2021-fgvc8                     2021-05-26 23:59:00  Research         Knowledge        196           False
hotel-id-2021-fgvc8                            2021-05-26 23:59:00  Research         Knowledge         44           False
hashcode-2021-oqr-extension                    2021-05-25 23:59:00  Playground       Knowledge        110           False
indoor-location-navigation                     2021-05-17 23:59:00  Research           $10,000        886           False

In [7]:
!kaggle competitions download -c 2021-ml-p6

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train_data.csv.zip to /content
  0% 0.00/469k [00:00<?, ?B/s]
100% 469k/469k [00:00<00:00, 62.0MB/s]
Downloading sample_submit.csv to /content
  0% 0.00/137k [00:00<?, ?B/s]
100% 137k/137k [00:00<00:00, 44.7MB/s]
Downloading test_data.csv to /content
  0% 0.00/676k [00:00<?, ?B/s]
100% 676k/676k [00:00<00:00, 95.6MB/s]

In [8]:
!ls

 kaggle.json   sample_data	   test_data.csv
'~p'	       sample_submit.csv   train_data.csv.zip

In [9]:
import pandas as pd
import numpy as np

In [11]:
sample = pd.read_csv('sample_submit.csv')
train = pd.read_csv('train_data.csv.zip')
test = pd.read_csv('test_data.csv')

In [12]:
print(sample.head())
print(train.head())
print(test.head())

   ID  price
0   0      1
1   1      1
2   2      1
3   3      1
4   4      1
   ID  company      model  year  ...  tax   mpg  engineSize  price
0   0        4      Auris  2015  ...  145  46.3         1.6   8095
1   1        0         X2  2018  ...  145  50.4         2.0  21726
2   2        2      Focus  2017  ...  145  51.4         1.0  10490
3   3        2      Focus  2020  ...  145  49.6         1.0  17490
4   4        0   3 Series  2017  ...  145  64.2         2.0  18995

[5 rows x 11 columns]
   ID  company      model  year  ...  fueltype  tax   mpg  engineSize
0   0        2        Ka+  2017  ...         4  145  57.7         1.2
1   1        2       Kuga  2013  ...         0  145  53.3         2.0
2   2        3         Q5  2016  ...         0  200  47.9         2.0
3   3        1        I10  2020  ...         4  145  56.5         1.0
4   4        0   3 Series  2014  ...         0   20  68.9         2.0

[5 rows x 10 columns]

In [13]:
X_train = train.drop(['price'], axis=1)
X_test = test
y_train = train['price']

print(X_train.head())
print(y_train.head())
print(X_test.head())

   ID  company      model  year  ...  fueltype  tax   mpg  engineSize
0   0        4      Auris  2015  ...         4  145  46.3         1.6
1   1        0         X2  2018  ...         0  145  50.4         2.0
2   2        2      Focus  2017  ...         4  145  51.4         1.0
3   3        2      Focus  2020  ...         4  145  49.6         1.0
4   4        0   3 Series  2017  ...         0  145  64.2         2.0

[5 rows x 10 columns]
0     8095
1    21726
2    10490
3    17490
4    18995
Name: price, dtype: int64
   ID  company      model  year  ...  fueltype  tax   mpg  engineSize
0   0        2        Ka+  2017  ...         4  145  57.7         1.2
1   1        2       Kuga  2013  ...         0  145  53.3         2.0
2   2        3         Q5  2016  ...         0  200  47.9         2.0
3   3        1        I10  2020  ...         4  145  56.5         1.0
4   4        0   3 Series  2014  ...         0   20  68.9         2.0

[5 rows x 10 columns]

In [14]:
X_train.dtypes

ID                int64
company           int64
model            object
year              int64
transmission      int64
mileage           int64
fueltype          int64
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [15]:
X_test.dtypes

ID                int64
company           int64
model            object
year              int64
transmission      int64
mileage           int64
fueltype          int64
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [17]:
y_train.dtypes

dtype('int64')

In [20]:
# model 컬럼을 수치형 데이터로 변환하기
from sklearn.preprocessing import LabelEncoder
classle = LabelEncoder()
X_train['model'] = classle.fit_transform(X_train['model'])
X_test['model'] = classle.fit_transform(X_test['model'])

In [22]:
X_train.dtypes

ID                int64
company           int64
model             int64
year              int64
transmission      int64
mileage           int64
fueltype          int64
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [23]:
X_test.dtypes

ID                int64
company           int64
model             int64
year              int64
transmission      int64
mileage           int64
fueltype          int64
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [25]:
X_train = X_train.drop(['ID'], axis=1)
X_test = X_test.drop(['ID'], axis=1)

In [26]:
print(X_train.shape)
print(y_train.shape)

(34170, 9)
(34170,)

In [28]:
X_train.describe()

            company         model  ...           mpg    engineSize
count  34170.000000  34170.000000  ...  34170.000000  34170.000000
mean       1.955370     33.128270  ...     56.378955      1.671378
std        1.294736     27.347684  ...     18.546955      0.598782
min        0.000000      0.000000  ...      1.100000      0.000000
25%        1.000000     11.000000  ...     47.900000      1.200000
50%        2.000000     25.000000  ...     56.500000      1.600000
75%        3.000000     46.000000  ...     64.200000      2.000000
max        4.000000     97.000000  ...    470.800000      6.600000

[8 rows x 9 columns]

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)

In [30]:
from sklearn.neighbors import KNeighborsRegressor

knnReg = KNeighborsRegressor()
knnReg.fit(X_train_sc, y_train)
y_test_pred = knnReg.predict(X_test_sc)

In [31]:
sample.head()

   ID  price
0   0      1
1   1      1
2   2      1
3   3      1
4   4      1

In [ ]:
sample['price']=y_test_pred
sample.to_csv('sample_submit.csv', index=False)