<a href="https://colab.research.google.com/github/takgeun-Oh/mypluralize/blob/master/wineClassification_LogisticResgression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
dat_wine=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/'
                     'wine/wine.data',header=None)
dat_wine.head()

   0      1     2     3     4    5   ...    8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [3]:
dat_wine.columns = ['class label', 'alchohol', 'malic acid', 'ash', 
                    'alcalinity of ash', 'magnesium', 'total phenols', 
                    'flavanoids', 'nonflavanoid phenols', 
                    'proanthocyanins', 'color intensity', 'hue', 
                    'OD208', 'proline']  # Column names

In [4]:
print('class label:', np.unique(dat_wine['class label']))

class label: [1 2 3]

In [5]:
dat_wine.head()

   class label  alchohol  malic acid  ...   hue  OD208  proline
0            1     14.23        1.71  ...  1.04   3.92     1065
1            1     13.20        1.78  ...  1.05   3.40     1050
2            1     13.16        2.36  ...  1.03   3.17     1185
3            1     14.37        1.95  ...  0.86   3.45     1480
4            1     13.24        2.59  ...  1.04   2.93      735

[5 rows x 14 columns]

In [13]:
from sklearn.model_selection import train_test_split
X = dat_wine.drop(['class label'], axis=1)
y = dat_wine['class label']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.fit_transform(X_test)

In [20]:
from sklearn.linear_model import LogisticRegression
lr1_10 = LogisticRegression(penalty='l1', C=10.0, solver='saga')
lr1_1 = LogisticRegression(penalty='l1', C=1.0, solver='saga')
lr1_0_1 = LogisticRegression(penalty='l1', C=0.1, solver='saga')

lr2_10 = LogisticRegression(penalty='l2', C=10.0, solver='saga')
lr2_1 = LogisticRegression(penalty='l2', C=1.0, solver='saga')
lr2_0_1 = LogisticRegression(penalty='l2', C=0.1, solver='saga')

In [21]:
lr2_10.fit(X_train_std, y_train)
print('Training accuracy with L2 and C=10.0:', lr2_10.score(X_train_std, y_train))
print('Test accuracy with L2 and C=10.0:', lr2_10.score(X_test_std, y_test))

Training accuracy with L2 and C=10.0: 1.0
Test accuracy with L2 and C=10.0: 0.9629629629629629

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)