<a href="https://colab.research.google.com/github/takgeun-Oh/mypluralize/blob/master/wine_classification_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
dat_wine=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/'
                     'wine/wine.data',header=None)
dat_wine.head()
dat_wine.columns = ['class label', 'alchohol', 'malic acid', 'ash', 
                    'alcalinity of ash', 'magnesium', 'total phenols', 
                    'flavanoids', 'nonflavanoid phenols', 
                    'proanthocyanins', 'color intensity', 'hue', 
                    'OD208', 'proline']  # Column names
print('class label:', np.unique(dat_wine['class label']))  # Class 출력
dat_wine.head()

class label: [1 2 3]

   class label  alchohol  malic acid  ...   hue  OD208  proline
0            1     14.23        1.71  ...  1.04   3.92     1065
1            1     13.20        1.78  ...  1.05   3.40     1050
2            1     13.16        2.36  ...  1.03   3.17     1185
3            1     14.37        1.95  ...  0.86   3.45     1480
4            1     13.24        2.59  ...  1.04   2.93      735

[5 rows x 14 columns]

In [3]:
X = dat_wine.drop(['class label'], axis=1)
y = dat_wine['class label']

print(X.head())
print(y.head())

   alchohol  malic acid   ash  ...   hue  OD208  proline
0     14.23        1.71  2.43  ...  1.04   3.92     1065
1     13.20        1.78  2.14  ...  1.05   3.40     1050
2     13.16        2.36  2.67  ...  1.03   3.17     1185
3     14.37        1.95  2.50  ...  0.86   3.45     1480
4     13.24        2.59  2.87  ...  1.04   2.93      735

[5 rows x 13 columns]
0    1
1    1
2    1
3    1
4    1
Name: class label, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)
print(X_train.head())
print(X_test.head())
print(y_train.head())
print(y_test.head())

     alchohol  malic acid   ash  ...   hue  OD208  proline
3       14.37        1.95  2.50  ...  0.86   3.45     1480
118     12.77        3.43  1.98  ...  0.70   2.12      372
155     13.17        5.19  2.32  ...  0.60   1.48      725
107     12.72        1.75  2.28  ...  0.88   2.42      488
2       13.16        2.36  2.67  ...  1.03   3.17     1185

[5 rows x 13 columns]
     alchohol  malic acid   ash  ...   hue  OD208  proline
142     13.52        3.17  2.72  ...  0.89   2.06      520
152     13.11        1.90  2.75  ...  0.61   1.33      425
172     14.16        2.51  2.48  ...  0.62   1.71      660
84      11.84        0.89  2.58  ...  0.79   3.08      520
99      12.29        3.17  2.21  ...  1.42   2.83      406

[5 rows x 13 columns]
3      1
118    2
155    3
107    2
2      1
Name: class label, dtype: int64
142    3
152    3
172    3
84     2
99     2
Name: class label, dtype: int64

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.fit_transform(X_test)

# X_train, X_test, X_train_std, X_test_std 모두 준비 완료

In [12]:
X_train.head()

     alchohol  malic acid   ash  ...   hue  OD208  proline
3       14.37        1.95  2.50  ...  0.86   3.45     1480
118     12.77        3.43  1.98  ...  0.70   2.12      372
155     13.17        5.19  2.32  ...  0.60   1.48      725
107     12.72        1.75  2.28  ...  0.88   2.42      488
2       13.16        2.36  2.67  ...  1.03   3.17     1185

[5 rows x 13 columns]

In [15]:
X_train_std[0:5,:]

array([[ 1.75724998, -0.42418296,  0.46754669, -0.84147742,  1.04778074,
         2.48867577,  1.43630611, -1.01278319,  1.04231865,  1.17633597,
        -0.41889975,  1.17628257,  2.31738098],
       [-0.22691937,  0.87476675, -1.43090484, -1.07543078, -1.45077333,
        -1.04213218, -0.76868137,  0.46835722, -1.38410524, -0.70436762,
        -1.11989258, -0.68867149, -1.15530354],
       [ 0.26912297,  2.4194637 , -0.18960961,  0.67921944, -0.46649445,
        -0.86718223, -1.37899041,  1.87154286, -0.0900125 ,  1.21907924,
        -1.5580131 , -1.586093  , -0.04893383],
       [-0.28892466, -0.5997167 , -0.33564435,  0.82544029, -1.14791829,
        -1.43974568, -0.26665297,  0.85813101,  0.05377558, -0.74711088,
        -0.33127564, -0.26800516, -0.79173729],
       [ 0.25672191, -0.06433878,  1.0881943 , -0.31508235,  0.13921562,
         0.81869904,  1.19021376, -0.54505464,  2.17464979,  0.27017879,
         0.32590514,  0.78366066,  1.3927944 ]])

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5, p=2)

knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [17]:
y_train_pred = knn.predict(X_train)
y_test_pred = knn.predict(X_test)

print('Misclassfied training samples: %d' %((y_train!=y_train_pred).sum()))
print('Misclassfied test samples: %d' %((y_test!=y_test_pred).sum()))

Misclassfied training samples: 27
Misclassfied test samples: 19

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_test_pred))

0.6481481481481481